# Django
# https://www.djangoproject.com/
Django==5.1.2

# Django REST framework
# https://www.django-rest-framework.org/
djangorestframework==3.15.2

# PyMySQL
# https://pymysql.readthedocs.io/en/latest/
PyMySQL==1.1.1

# python-dotenv
# https://github.com/theskumar/python-dotenv
python-dotenv==1.0.1
